[hidden] {
    display: none !important;
}

html {
    user-select: none;
    overflow-x: hidden;
    scrollbar-width: thin;
}

html,
body {
    min-height: 100dvh;
    background: url('../assets/images/portfolio-background.webp') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Estilos de corpo e main para centralização */
body {
    font-family: 'Inter', sans-serif;
    background-color: #080a29;
    color: #eae9f6;
    cursor: crosshair;
}

/* Cabeçalho */
header {
    padding: 1rem;
    width: 100dvw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h3 {
    font-weight: 500;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #eae9f6;
    margin-right: auto;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #67396a;
}

.nav-link.active {
    border-bottom: 1px solid #eae9f6;
    padding-bottom: 5px;
}

.nav-link.active:hover {
    border-color: #67396a;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.modal-overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    animation: appear ease-in 1s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 10px #eae9f6;
    max-width: 400px;
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.modal .close-button {
    font-size: 1rem;
    background: crimson;
    border-radius: 8px;
    padding: 8px 15px;
    margin-top: 15px;
    cursor: pointer;
}

.cards-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 90dvw;
}

/* Estilos básicos dos cards */
.card {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #eae9f6;
    border-radius: 10px;
    padding: 1rem;
    /*box-shadow: 0 0 10px #67396a;*/
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); /* Suporte Safari */
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(160, 32, 240, 0.4); /* Sombra mais intensa no hover */
}

.card h3 {
    font-size: 1.2rem;
}

.card p {
    font-size: 0.95rem;
}

.card:not(#card-4) .button {
    border-radius: 1rem;
    border: 1px solid #a8a4ac;
    width: fit-content;
    padding: 10px 15px;
    align-self: flex-end;
    margin-top: auto;
}

input {
    background-color: #2d2c3e;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: 0.875rem; /* Isso equivale a 14px */
    line-height: 1.25rem; /* Isso equivale a 20px */
}

.hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

pre {
    white-space: break-spaces;
    user-select: text;
    width: 300px;
    position: absolute;
    right: 20px;
}

.token.keyword {
    color: #a78bfa;
    /* Cor roxa (text-purple-400 do Tailwind) */
}

.token.constant {
    color: #60a5fa;
}

.token.string {
    color: #fcd34d;
    /* Cor amarela (text-yellow-400 do Tailwind) */
}

.token.property {
    color: #4ade80;
}

.programming-languages-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
    margin-top: 10px;
}
