main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 90dvw;
}

/* Estilos básicos dos cards */
.project-card {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #eae9f6;
    border-radius: 10px;
    padding: 1rem;
    /*box-shadow: 0 0 10px #67396a;*/
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); /* Suporte Safari */
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(160, 32, 240, 0.4); /* Sombra mais intensa no hover */
}

.project-card h3 {
    font-size: 1.2rem;
}

.project-card p {
    font-size: 0.95rem;
}

.project-card:not(#card-4) .button {
    border-radius: 1rem;
    border: 1px solid #a8a4ac;
    width: fit-content;
    padding: 10px 15px;
    align-self: flex-end;
    margin-top: auto;
}

.programming-languages-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
    margin-top: 10px;
}
