/* Reset total, completo e seguro */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remover estilos de listas */
ul,
ol,
menu {
    list-style: none;
}

/* Links limpos */
a {
    text-decoration: none;
    color: inherit;
    cursor: inherit;
}

/* Botões e campos */
button,
input,
textarea,
select {
    background: none;
    border: none;
    outline: none;
}

/* Botões ainda clicáveis */
button,
.button {
    color: inherit;
    cursor: inherit;
}

/* Tipos de input especiais sem aparência nativa */
input[type="search"],
input[type="number"],
input[type="email"],
input[type="text"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Imagens, vídeos e SVGs */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Tabelas limpas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remover citações padrões */
blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
}
