[hidden] {
    display: none !important;
}

html {
    user-select: none;
    overflow-x: hidden;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    min-height: 100dvh;
    background: url('../assets/images/portfolio-background.webp') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Estilos de corpo e main para centralização */
body {
    font-family: 'Inter', sans-serif;
    background-color: #080a29;
    color: #eae9f6;
    cursor: crosshair;
}

/* Cabeçalho */
header {
    padding: 1rem;
    width: 100dvw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h3 {
    font-weight: 500;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #eae9f6;
    margin-right: auto;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #67396a;
}

.nav-link.active {
    border-bottom: 1px solid #eae9f6;
    padding-bottom: 5px;
}

.nav-link.active:hover {
    border-color: #67396a;
}

.languages {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.modal-overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    animation: appear ease-in 1s;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    color: white;
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 10px #eae9f6;
    max-width: 400px;
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.modal .close-button {
    font-size: 1rem;
    background: crimson;
    border-radius: 8px;
    padding: 8px 15px;
    margin-top: 15px;
    cursor: pointer;
}

.scroll-wrapper {
    scrollbar-width: thin;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* suaviza scroll no iOS */
}

.cards-wrapper {
    position: relative;
    /* mantém position absolute nos cards */
    width: 1490px;
    height: 900px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Borda apenas para visualização do palco */
    border-radius: 5px;
}

/* Estilos básicos dos cards */
.card {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #eae9f6;
    border-radius: 10px;
    padding: 1rem;
    /*box-shadow: 0 0 10px #67396a;*/
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    /* Suporte Safari */
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(160, 32, 240, 0.4);
    /* Sombra mais intensa no hover */
}

.card h3 {
    font-size: 1.2rem;
}

.card p {
    font-size: 0.95rem;
}

.card:not(#card-4) .button {
    border-radius: 1rem;
    border: 1px solid #a8a4ac;
    width: fit-content;
    padding: 10px 15px;
    align-self: flex-end;
    margin-top: auto;
}

/* POSICIONAMENTO EXATO DOS CARDS */
/* Usando top/left em relação ao main. */
/* Os valores foram ajustados para que o layout fique centralizado e se pareça com a sua imagem. */
#card-0 {
    width: 220px;
    height: 240px;
    top: 300px;
    left: 5px;
}

#card-1 {
    width: 300px;
    height: 300px;
    top: 140px;
    left: 240px;
}

#card-2 {
    width: 350px;
    height: 370px;
    top: 70px;
    left: 555px;
}

#card-3 {
    width: 200px;
    height: 340px;
    top: 100px;
    left: 920px;
}

#card-4 {
    width: 350px;
    height: 550px;
    top: 195px;
    left: 1135px;
    padding: 40px;
}

#card-5 {
    width: 200px;
    height: 350px;
    top: 460px;
    left: 240px;
}

#card-6 {
    width: 300px;
    height: 290px;
    top: 475px;
    left: 455px;
}

#card-7 {
    width: 350px;
    height: 270px;
    top: 475px;
    left: 770px;
}

#card-4 h3 {
    margin-top: auto;
}

#card-4 form {
    display: flex;
    flex-direction: column;
}

form .button {
    background: radial-gradient(circle 110px at 50% -10px, #e4d7fb, #b197e0);
    color: #312557;
    border-radius: 2rem;
    padding: 0.8rem;
    font-size: 1rem;
}

input {
    color: white;
    background-color: #2d2c3e;
    border-radius: 0.5rem;
    padding: 0.85rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

pre {
    white-space: break-spaces;
    user-select: text;
    width: 300px;
    position: absolute;
    right: 20px;
}

.token.keyword {
    color: #a78bfa;
    /* Cor roxa (text-purple-400 do Tailwind) */
}

.token.constant {
    color: #60a5fa;
}

.token.string {
    color: #fcd34d;
    /* Cor amarela (text-yellow-400 do Tailwind) */
}

.token.property {
    color: #4ade80;
}

.programming-languages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

.programming-languages-wrapper img {
    width: 50px;
}



@media (min-width: 1500px) {
    .cards-wrapper {
        left: 50%;
        transform: translateX(-50%);
    }
}

/* @media (max-width: 768px) {
    .scroll-wrapper {
        height: calc(100dvh - 10dvh);
    }
} */
